

<div class="fileUpload k-button" style="margin-right: 0px;">
    <img style="width:28px; height:28px" src="~/Content/Images/New/excel-icon.png" />
    <span>Upload</span>
    <input type="file" name="xlfile" id="xlf" class="upload" />
</div>

<input style="padding-left:0; width:250px;" class="k-textbox" id="uploadFile" placeholder="Click Upload" disabled="disabled" />


<script type="text/javascript">
    document.getElementById("xlf").onchange = function () {
        if (this.files.length > 0) {
            document.getElementById("uploadFile").value = this.files[0].name;
        }
    };
</script>