
@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<MaterialIssuePendingWorkshift>()
    .Name("materialIssuePendingWorkshiftGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.WorkshiftCode).Title("Mã khách hàng").Width(90);
        columns.Bound(c => c.WorkshiftCode).Title("Tên khách hàng").Width(190);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập mã, tên, MST, địa chỉ, địa bàn khách hàng, hoặc mã kho</label>
                <input id="materialIssuePendingWorkshiftFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="materialIssuePendingWorkshiftFilter_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetWorkshifts", "MaterialIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetWorkshifts"))
        .ServerOperation(false)
    )
    .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetWorkshifts(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function materialIssuePendingWorkshiftFilter_KeyUp() {
        var materialIssuePendingWorkshiftFilter = $("#materialIssuePendingWorkshiftFilter").val(), gridDetails = $("#materialIssuePendingWorkshiftGrid").data("kendoGrid");

        if (materialIssuePendingWorkshiftFilter && materialIssuePendingWorkshiftFilter.length >= "@SettingsManager.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "WorkshiftCode", operator: "contains", value: materialIssuePendingWorkshiftFilter },
                    { field: "WorkshiftCode", operator: "contains", value: materialIssuePendingWorkshiftFilter },
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }


    $("#materialIssuePendingWorkshiftGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>
